body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  background-color: #1237af;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.ui-primary-input::-webkit-file-upload-button {
  visibility: hidden;
  width:0px
}
.ui-primary-input::before {
  content: 'Upload File';
  display: inline-block;
  background-color: #1237af;
  color: white;
  padding: 15px 32px;
  outline: none;
  font-size: 16px;
  cursor: pointer;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}
.ui-primary-input:hover::before {
  border-color: black;
}
.ui-primary-input:active::before {
  background: -webkit-linear-gradient(top, #1237af, #1237af);
}